{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les derniers articles</h1>

    <div class="section">
        {% for article in articles %}

            <div class="row">
                <div class="col s6 article-card">
                  <h2 class="header">{{ article.name }}</h2>
                    <div class="card horizontal">
                        <a href="{{ path("article_show",{ 'id': article.id}) }}"></a>

                        <p>
                            Publié le
                            {% if article.publicationDate %}{{ article.publicationDate|date('d M Y') }}{% endif %}

                        </p>
                        <div class="card-image">

                            {% if article.image is defined %}
                                <img src="{{ asset('images/articles/'.article.image) }}"/>
                            {% endif %}
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>
                                    {{ (article.content|slice(0,200))|raw }}
                                    <a href="{{ path("article_show",{'id':article.id}) }}">Lire plus</a>

                                </p>
                                <p>
                                    {{ getCommentsCount(article.id)}}
                                    commentaire(s).
                                </p>
                                <p>
                                    {{ article.category.name }}
                                </p>
                                <p>
                                    {% if article.tags %}
                                        {% for tag in article.tags %}
                                            {{ tag.name }},
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
