{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h1 align="center">Écrire un nouvel article</h1>

        {{ form_start(form, { 'attr': {'class': 'col s12 centered'}}) }}
        {{ form_row(form.name, { 'attr': {'class': 'row'},'label':'Nom'}) }}

        {{ form_row(form.tags, { 'attr': {'class': 'row'},'label':'Tags'}) }}
        {{ form_row(form.category, { 'attr': {'class': 'row'},'label':'Catégorie'}) }}
        {{ form_row(form.content, { 'attr': {'class': 'row fr-view'},'label':'Contenu'}) }}
        {{ form_row(form.image,{'attr':{'class' :'file-field input-field file-path-wrapper'},'label':'Image '})}}
        {{ form_row(form.publication_date,{'attr':{'class' :'datepicker','type':'datetime'},'label':'Date de publication '})}}
        {{ form_row(form.submit, { 'attr': {'class': 'btn waves-effect waves-light
'},'label':'Créer'}) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        jQuery('.datepicker').pickadate({
            selectMonths: true,
            selectYears: 15,
            format: 'yyyy-mm-dd',
            closeOnSelect: true,
            monthsFull: [
                'Janvier',
                'Février',
                'Mars',
                'Avril',
                'Mai',
                'Juin',
                'Juillet',
                'Août',
                'Septembre',
                'Octobre',
                'Novembre',
                'Décembre'
            ],
            monthsShort: [
                'Jan',
                'Fev',
                'Mar',
                'Avr',
                'Mai',
                'Jun',
                'Jul',
                'Aou',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            weekdaysFull: [
                'Dimanche',
                'Lundi',
                'Mardi',
                'Mercredi',
                'Jeudi',
                'Vendredi',
                'Samedi'
            ],
            weekdaysShort: [
                'Dim',
                'Lun',
                'Mar',
                'Mer',
                'Jeu',
                'Ven',
                'Sam'
            ],
            firstDay: 1,
            labelMonthNext: 'Mois suivnat',
            labelMonthPrev: 'Mois précédent',
            labelMonthSelect: 'Choisir un mois',
            labelYearSelect: 'Choisir une année'
        });
    </script>
{% endblock %}
