{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content | raw }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ article.author.username }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                {% for tag in article.tags %}
                <td> {{ tag.name }}</td>

                {% endfor %}
            </tr>
            <tr>
                <th>Publicationdate</th>
                <td>{% if article.publicationDate %}{{ article.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ article.category.name }}</td>
            </tr>
        </tbody>
    </table>
    {% for comment in comments %}
    {{ comment.content }}
    {% endfor %}
    {{ getCommentsCount(article.id) }}

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
    </ul>
          <div class="row">
              {{ form_start(commentForm, { 'attr': {'class': 'col s6'}}) }}
              {{ form_row(commentForm.author, { 'attr': {'class': 'row'},'label':'Auteur'}) }}

              {{ form_row(commentForm.content, { 'attr': {'class': 'row'},'label':'Commentaire'}) }}
              {{ form_row(commentForm.submit, { 'attr': {'class': 'btn waves-effect waves-light
      '},'label':'Commenter'}) }}
            {{ form_end(commentForm) }}


{% endblock %}
