{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
       <div class="col s10 m10">
         <div class="card">
           <div class="card-image">
             {% if article.image %}
             {# Si une image a été ajoutée pour l'article on l'utilise, sinon on utilise une image noire par défaut #}
              <img src="{{ asset('images-articles/' ~ article.image) }}" alt="{{ article.name }}"/>
              {% else %}
              <img src="{{ asset('images-articles/no-image.png') }}" alt="{{ article.name }}"/>

             {% endif %}
             <span class="card-title">{{ article.name }} <small>Publié le
             {% if article.publicationDate %}{{ article.publicationDate|date('Y-m-d') }} {{ article.publicationDate|date('d M Y') }}{% endif %}
             par
             {{ article.author.username }}</small></span>
           </div>
           <div class="card-content">
             {# contenu de l'article avec mise en page HTML #}
             {{ article.content | raw }}
           <div class="card-action">
             <p>Commentaires</p>
             {% if getCommentsCount(article.id) > 0 %}
               {% for comment in comments %}
               <div class="card horizontal">
                 <u><strong style="font-size:18px !important">{{ comment.author }}  le <small> {{ comment.date|date('d/M/Y',"Europe/Paris") }} à {{ comment.date|date('H\\hi') }} </small>:</strong></u><br/></br>
                     <blockquote style="font-size:14px !important">
                     {{ comment.content }}
              </div>
                {% endfor %}
             {% else %}
             <p>
              Aucun commentaire pour le moment
             </p>
             {% endif %}
             <div class="row">
               <small>Ajouter un commentaire</small>
             {{ form_start(commentForm, { 'attr': {'class': 'col s12'}}) }}
             {{ form_row(commentForm.author, { 'attr': {'class': 'row'},'label':'Auteur'}) }}

             {{ form_row(commentForm.content, { 'attr': {'class': 'row'},'label':'Commentaire'}) }}
             {{ form_row(commentForm.submit, { 'attr': {'class': 'btn waves-effect waves-light
                   '},'label':'Commenter'}) }}
             {{ form_end(commentForm) }}
           </div>
           </div>
         </div>
       </div>
     </div>
    <div class="col s2 m2">
      <h5><span class="material-icons">label</span><strong>Catégorie</strong></h5>
      <p> {{ article.category.name}} </p>
            <h5><span class="material-icons">assignments</span><strong>Tag(s)</strong></h5>
            <p>
                {% for tag in article.tags %}
                    {{ tag.name }}
                    {% if loop.last %}
                    {% else %}
                    ,
                    {% endif %}
                {% endfor %}
            </p>
            <br/>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('article_edit',{ 'id': article.id }) }}"><button class="btn waves-effect waves-light" type="submit" name="action">Modifier l'article
          </button></a><br/>
            {% endif %}
    </div>
</div>
{% endblock %}
