{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
       <div class="col s10 m10">
         <div class="card">
           <div class="card-image">
             {% if article.image %}
             {# Si une image a été ajoutée pour l'article on l'utilise, sinon on utilise une image noire par défaut #}
              <img src="{{ asset('images-articles/' ~ article.image) }}" alt="{{ article.name }}"/>
              {% else %}
              <img src="{{ asset('images-articles/no-image.png') }}" alt="{{ article.name }}"/>

             {% endif %}
             <span class="card-title">{{ article.name }} <small>Publié le
             {% if article.publicationDate %}{{ article.publicationDate|date('Y-m-d') }} {{ article.publicationDate|date('d M Y') }}{% endif %}
             par
             {{ article.author.username }}</small></span>
           </div>
           <div class="card-content">
             {# contenu de l'article avec mise en page HTML #}
             <blockquote>
             {{ article.content | raw }}
            </blockquote>
           <div class="card-action">
             <p>Commentaires</p>
             {% if getCommentsCount(article.id) > 0 %}
               {% for comment in comments %}
               <div class="card horizontal">
                 <span class="card-title"> <strong >{{ comment.author }} :</strong></title>
                   <div class="card-content">
                     <blockquote>
                     {{ comment.content }}
                   </blockquote>

                   </div>
              </div>
                {% endfor %}
             {% else %}
             <p>
              Aucun commentaire pour le moment
             </p>
             {% endif %}
             <div class="row">
               Ajouter un commentaire
             {{ form_start(commentForm, { 'attr': {'class': 'col s12'}}) }}
             {{ form_row(commentForm.author, { 'attr': {'class': 'row'},'label':'Auteur'}) }}

             {{ form_row(commentForm.content, { 'attr': {'class': 'row'},'label':'Commentaire'}) }}
             {{ form_row(commentForm.submit, { 'attr': {'class': 'btn waves-effect waves-light
                   '},'label':'Commenter'}) }}
             {{ form_end(commentForm) }}
           </div>
           </div>
         </div>
       </div>
     </div>
    <div class="col s12 m2">
      <div class="col s4">
            <h4>
                <i class="material-icons">assignments</i>
                Tags
            </h4>
            <p>
                {% for tag in article.tags %}
                    {{ tag.name }}

                {% endfor %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
