{% extends 'base.html.twig' %}


{% block body %}
<div class="row">
    <h1>Modifier le tag "{{ tag.name }}"</h1>

    {{ form_start(edit_form, { 'attr': {'class': 'col s12 centered'}}) }}
    {{ form_row(edit_form.name, { 'attr': {'class': 'row'},'label':'Nom'}) }}
    {{ form_row(edit_form.submit, { 'attr': {'class': 'btn waves-effect waves-light
'},'label':'Ajouter'}) }}

    {{ form_end(edit_form) }}
</div>
{% endblock %}
