{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col s12">

    <h1 align="center">Tags</h1>
    <a href="{{ path('tag_new')}}"><button class="btn waves-effect waves-light" type="submit" name="action">Nouveau tag
  </button></a>
    <table>
       <thead>
         <tr>
             <th data-field="id">Identifiant</th>
             <th data-field="name">Nom</th>
             <th></th>
         </tr>
       </thead>

       <tbody>
         {% for tag in tags %}
             <tr>
                 <td>{{ tag.id }}</td>
                 <td>{{ tag.name }}</td>
                 <td><a href="{{ path('tag_edit', { 'id': tag.id }) }}">Modifier</a>
                   {# On montre le lien de suppression uniquement si aucun Article n'est associé à ce tag #}
                 {% if getCountArticlesByTag(tag.id) == 0 %} <a href="{{ path('tag_delete', { 'id': tag.id }) }}">Supprimer</a>{% endif %}</td>
             </tr>
         {% endfor %}

        </tbody>
    </table>
  </div>
</div>
{% endblock %}
